# Race, Gender, and Salary
#### By Saida Muktar

## Abstract

In previous reports we have seen the correlation between race & police shooting, and also an sentiment analysis on how people are responding to phrases such as black lives matter and blue lives matter. This report aligned with the race theme will be looking at the correlation between salary, race, and gender.

* In the first section the report will go over a basic introduction of the topic, and research questions.
* In the second section the report will go over obtaining and analyzing the Data
* In the third section the report will go over Data Cleaning
* In the fourth section the report will go over Modeling
* In the fifth section the report will evaluate each model and select the best one
* In the final section the report will give a conclusion and interpretation.

## Introduction

Is it possible for us to create a machine learning algorithm that will estimate someone's salary based on their education, family status, and race?

You would not be surprised if someone were to tell you that men get paid higher than women in the work industry, or that white people get paid higher than African Americans. It has just become a fact at this point. Are there exceptions to this? If not is there a way for us to predict what a person is making based on their age, education, gender and race? If so how accurate will it be?

Before diving in let's make a note that this report was done with only one Data set and is just showing a glimpse of what could or could not be happening in our country. This is just a small part of the bubble that might not accurately represent the whole picture.

## Researh Questions


* Is it possible to shed light on instutitional racism and sexism through a model that will predict if someone makes less than or more than 50K based on their race and gender, while taking into consideration other factors like age, education, and family status?

## Exploratory Data Analysis

This report will be using the adult income salary data from Kaggle (https://www.kaggle.com/mastmustu/income?select=train.csv).

This data was extracted from the US census database, contatining information like occupation, age, native country, race, capital gain, capital loss, education, work class and more.

In [4]:
#import data from Kaggale
salary_data = pd.read_csv('C:\\Users\\mukta\\Desktop\\salary.csv')
salary_data = pd.DataFrame(salary_data)
#I just showed the first few of rows of the data to present all the columns and show what it looks like.
salary_data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

Although, at first the goal was just to do a prediction with education, age, race and gender. After analyzing the information in the data above, it was decided to use all the information that was given so that we can make a better more percise model, thus no cleaning was needed for this particular data set.

The first task then is to check the relationship between race, gender, and whether their income is above or below 50K.

This graph below shows that about 90% of African American make less than 50K compared to ~75% of Caucassians. It also shows us that 25% of Caucassians make more than 50K compared to only ~10% of African Americans.

![image](https://user-images.githubusercontent.com/70491460/97385815-ef1a9080-18a8-11eb-805f-1bb9e76fc06b.png)

Just as Caucassians make more than African Americans, the graph below shows us the marginilization of females in the work place. Approximatley 30% of Males make above 50K compared to 10% of Females, this is literally double the amount of men making more than females. There is also about 90% of Females that make less than 50K in comparison to the 70% of Males that make less than 50K.
![image](https://user-images.githubusercontent.com/70491460/97386229-c47d0780-18a9-11eb-82e2-63a86a2088a6.png)

'The most neglected person in America is the Black Woman,' ~ Malcom X.

The next graph will show the ratio/population of a White Man, a Black Man, a White Woman, and a Back Woman. As seen in the graph the most disadvantagous person is the Black woman, as Malcom X said. However, this also shows that White Males and Black Males have a higher ratio of having an income of above 50K compared to both White and Black Females. However, the ratio of Black Males and Females income less than 50K is significantly higher than White Males and Females.

![image](https://user-images.githubusercontent.com/70491460/97386469-3f462280-18aa-11eb-8d45-307a68b7d6d1.png)

## Modeling

Now that we have analyzed the data, and know sort of what to expect if the machine were to predict salary based of race and gender, let's get into training the data.

In order to train the data we must first change the 'objects' in our data set into binaries.
Since this report is specifically looking at two races (Black and White) we are going to get rid of the other races that are found in this data set.

Now that the data cleaning is over we can start the training. 

The first step was to make sure that the 'object' types in our data were changed into binary and we used pd.get_dummies in order to achieve that. We then appended the other numerical datas from the original data to get our final training dataframe.

There were five different models that were tested before choosing the best model in order to train this data. The method used in order to check the best model was cross validation. These were the mean and standard deviation results from the cross validation of each model we tested.

* KNeighborsClassifier
    * Cross-validation
        * test score: 0.7847 +/- 0.002254
        * train score: 0.8694 +/- 0.000685
* LogisticRegression
    * Cross-validation
        * test score: 0.7927 +/- 0.002614
        * train score: 0.7932 +/- 0.000799
* DecisionTreeClassifier
    * Cross-validation
        * test score: 0.8517 +/- 0.002236
        * train score: 0.8535 +/- 0.000315
* RandomForestClassifier
    * Cross-validation
        * test score: 0.8408 +/- 0.002329
        * train score: 0.8418 +/- 0.001769
* GradientBoostingClassifier
    * Cross-validation
        * test score: 0.8649 +/- 0.001946
        * train score: 0.8690 +/- 0.001200

Above we have trained the different models to be able to predict the salay of a person based on the datas given. After using cross validation to check the best model we decided to go with the GradientBoostingClassifier model, since it had the highest percentage of train score and test score. It showed us that this model is the one that is learning the most and it is also not just memorizing but actually learning.

Now that we have a model to work with we will check the accuracy score for a prediction.

The accuracy score obtained for the GradientBoostingClassfier gini model was an ~86.43%, with a confusion matrix of the graph shown below.

![image](https://user-images.githubusercontent.com/70491460/97579682-bb368c80-19c8-11eb-9eab-7e6b56032cec.png)

## Interpretations

As shown above the model we have chosen has an accuracy socre of ~86.4%. 

This model as seen in the heatmap above has accurately predicted people's salary to be less than 50K accurately 2825 times, and to be above 50K 584 times. 

It also wrongly predicted 377 people to have a salary less than 50K while in reality they made more than 50K. 
Finally it inaccurately predicted 156 people to have a salary more than 50K while in reality they made more than 50K.

Which people did the data get wrong? 
Does the error in the prediction help us understand institutional racism?

In order to answer these questions we first obtained the error datas and created a new table with them plus their correct income to analyze it.

In [25]:
y_test_pred = classifier5.predict(X_test)
errordata = X_test[y_test_pred != y_test]
errordata.insert(61, 'income_>50K', y_test)
errordata

,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,...,race_White,gender_Female,gender_Male,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K
31562,0,0,0,1,0,0,0,0,0,0,...,1,1,0,55,89690,13,0,0,40,1
30983,0,0,0,1,0,0,0,0,0,0,...,1,0,1,33,392812,10,0,0,50,1
11193,0,1,0,0,0,0,0,0,0,0,...,1,0,1,54,204325,10,0,0,52,0
42548,0,0,0,1,0,0,0,0,0,0,...,1,1,0,50,129673,13,0,0,50,1
4631,0,1,0,0,0,0,0,0,0,0,...,1,1,0,47,37672,13,0,0,45,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16777,0,0,0,0,1,0,0,0,0,0,...,1,1,0,55,209569,9,0,0,50,1
21404,0,0,0,1,0,0,0,0,0,0,...,1,0,1,37,119929,9,0,0,45,1
23931,0,0,0,1,0,0,0,0,0,0,...,1,0,1,35,143058,13,0,0,60,0
14436,0,0,0,1,0,0,0,0,0,0,...,1,0,1,33,437566,14,0,0,50,1
6746,0,0,0,0,0,0,1,0,0,0,...,1,0,1,62,159699,13,0,0,38,0

Out of the 534 error results 378 of the people were predicted to have an income of less than 50K while they were actually greather than 50K. While 157 of them were predicted to have an income of above 50K white they were actually less than 50K.

From the 378 that were predicted to falsely have an income of less than 50K:
   * 340 were Caucassian
   * 28 were African American
   * 310 were Males
   * 68 were Females
   * 283 were Caucassian Males
   * 57 were Caucassian Females
   * 21 were African American Males
   * 7 were African American Females
    
From the 157 that were predicted to falsely have an income of greater than 50K:
   * 148 were Caucassian
   * 3 were African American
   * 141 were Males
   * 16 were Females
   * 133 were Caucassian Males
   * 15 were Caucassian Females
   * 3 were African American Males
   * 0 were African American Females

Out of these the next step is to check the educational level of those that ended up getting a wrong prediction.

Once we checked that we decided to plot a bar graph in order to analyze it.

![image](https://user-images.githubusercontent.com/70491460/97390830-175bbc80-18b4-11eb-9737-0981f5698c73.png)


This graph above shows us the education level of Caucassians and African Americans that were predicted to have an income greater 50K, but in reality have an income less than 50K. 

We can conclude from here that the model is assuming that more Caucassians that do not have a higher level of education end up making more than 50K, while in reality this may not always be the case. 
The model also predicts that some African Americans people with just a Bachelor's degree or some college were able to make more than 50K without a higher education which is also not the case.

![image](https://user-images.githubusercontent.com/70491460/97390844-23477e80-18b4-11eb-9ba7-3e408576f275.png)

The graph shown above displays the education level of Males and Females who were predicted to have an income greater than 50K, but in reality have an income less than 50K.

We can conclude from here that the model is assuming that more Males that do not have a higher level of education end up making more than 50K, while in reality this may not always be the case. The model also predicts that some Females with just a some type of higher level education was able to make more than 50K which is also not the case.

![image](https://user-images.githubusercontent.com/70491460/97390859-2fcbd700-18b4-11eb-806c-8cfc2e7cc77e.png)

The graph shown above shows us the education level of Caucassians and African Americans who were predicted to have an income less than 50K, but in reality have an income greater than 50K.

We can conclude from here that the model is assuming that Caucassians with lesser education make less than 50K. In reality however Caucassians can make more than 50K with just a high school education and some college. As seen on the graph approximately 140 Caucassians that the model predicted should get an income of 50K or less in reality make 50K or more. In the same manner only about 15 African Americans with just a high school degree were falsely predicted to have an income of less than 50K.

![image](https://user-images.githubusercontent.com/70491460/97390880-3bb79900-18b4-11eb-8631-c76dd6f7c43f.png)

The graph above displays the education level of Males and Females who were predicted to have an income less than 50K, but in reality have an income greater than 50K.

We can conclude from here that the model is assuming that Males with lesser education make less than 50K. In reality however Males can make more than 50K with just a high school education and some college. As seen on the graph approximates 140 men that the model predicted should get an income of 50K or less in reality make 50K or more. In the same manner only about 20 Females with just a high school degree were falsely predicted to have an income of less than 50K.

## Conclusion

In conclusion, this model was sufficient to predict the salary of Females and African Americans as there was not much error. The error that it faced are the rare cases of African Americans or females that end up making more than 50K without a second degree.
The model gets a little tricked when it comes to evaluating the Caucassian race since there is a lot of reasons as a Caucassian would be able to make more than 50K, as seen even with just a high school degree even though the model predicts the Caucassians should be making less than 50K in reality they are capable of making more. 
This model may not be very accurate in predicting the salary of Caucassians, especially white men, however it could be approximately very close to predicting those of African Americans and most women.

This model has been able to shed light on the instutional sexism and racism that occrurs. When analyzing the error for the model, it was obvious to me that there is not a lot of outliers when it came to women and African Americans. Most of them based of their age, education, and family status it is easier to predict whether their income would be greater than or less than 50K. Compared to Males and Caucassians, where there are a lot of outliers. To me it seems as though there are a lot of Males and Caucassians whom the model predicts based on their age, education, and family status should not be making more than 50K but instead they actually do. It also predicts those who should be making more than 50K as making less than 50K.

This has led me to conclude that it may not be possible to accurately predict a Male's or a Caucassian's income just by their age, education, and family status since there are a lot of other factors that would go in. However, it is more likely to be able to predicts that of a woman's or an African American's since it's simple if you do not have have a certain amount of higher education as a Female or an African American your likelhood of getting paid more than 50K is slim to none. Even after that they have to prove themselves better and work harder and there is a profile that they have to meet in order to get to the level of the Caucassians and Males, and for that reason it is easeir to predict their income.